.div1
{
    text-align: center;
    border: 1px solid black;
    width: 35%;
    margin-top: 5%;
    margin-left: 10%;
    padding-left: 3%;
    background-color: antiquewhite;
    border-radius: 1%;
    box-shadow: 20px 25px 10px 15px rgb(91, 26, 26);
}
.div2
{
    border: 1px solid black;
    width: 35%;
    text-align: center;
    margin-left: 10%;
    padding-left: 3%;
    background-color: antiquewhite;
    box-shadow: 20px 25px 10px 15px rgb(91, 26, 26);
}
.inputField
{
    width: 80%;
    height: 45px;
}
button:hover
{
    background-color: greenyellow;
}
.btn
{
    
    margin-left: 2%;
    font-size: 40px;
    background-color: rgba(255, 234, 0, 0.971);
    border-radius: 50%;
}
.indivDiv1
{
    font-style: oblique;
    color: darkorchid;
    font-size: 20px;
    background-color: floralwhite;
    width: 89%;
    border: 1px solid antiquewhite;
}
.indivDiv2
{
    font-size: 30px;
    font-style: oblique;
    color: darkorchid;
    background-color: floralwhite;
    width: 85.5%;
    padding: 10px;
    border: 1px solid antiquewhite;
}
.btnIndiv
{
    background-color: floralwhite;
    color: darkblue;
    margin-top: 0.5%;
    margin-left: 2%;
}
.itemData
{
    
    padding: 0.5%;
}
.box
{
    display: flex;
    flex-direction: row;
	flex-wrap: wrap; 
    
    align-content: center;
}
.navSelect
{
    background-color: floralwhite;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    width: 150px;
    
}